body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.cvh-flex {
  display: flex;
}

.cvh-column {
  flex-direction: column;
}

.cvh-center {
  align-items: center;
  justify-content: center;
}

.cvh-title,
.cvh-caption,
.cvh-ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
