.cvh-list-item {
  justify-content: space-between;
}

.cvh-item-left {
  max-width: 300px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.cvh-list-container {
  overflow-y: scroll;
}

.title,
.caption,
.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}
